<form>
  <div class="form-container">
    <div class="input-fields">
      <label for="input-amount">
        <Input id="input-amount"
               placeholder="Enter a number!"
               type="text"
               @value={{this.value}}
          {{on "input" this.inputValue}}
        />
      </label>
      <label for="select-currency">
        <select id="select-currency"  {{on "change" this.selectCurrency}}>
          {{#each @currencies as |currency|}}
            <option value={{currency.ccy}} >{{currency.ccy}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <button id="button-convert"
              type="submit"
        {{on "click" this.convert}}
      >Convert
      </button>
    </div>
    <div class="result-block">
      <h2>Conversion result</h2>
      {{#each @currencies as |currency|}}
        <p>{{this.value}} {{currency.base_ccy}} = {{this.result}} {{currency.ccy}}</p>
      {{/each}}
    </div>
  </div>
</form>
