<form>
  <div class="form-container">
    <div class="input-fields">
      <label for="input-amount">
        <Input id="input-amount"
               placeholder="Enter a number!"
               @type="text"
               @value={{this.currentInputValue}}
          {{on "input" this.inputValue}}
        />
      </label>
      <label for="select-currency">
        <select id="select-currency"  {{on "change" this.selectCurrency}}>
          <option value="">Currencies</option>
          {{#each @currencyRates as |currency|}}
            <option value={{currency.ccy}}>{{currency.ccy}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <button id="button-convert"
              type="submit"
        {{on "click" this.convert}}
      >Convert
      </button>
    </div>
    <div class="result-block">
      <h2>Conversion result</h2>
      <p>{{this.result}}</p>
      <h2>History</h2>
      {{#each-in this.historyList as |item items|}}
        <div>{{items}}</div>
      {{/each-in}}
    </div>
  </div>
</form>
